@import '../Colours.scss';


.bg {
    background-color: $pli-bg-light-biege;
}

.bg-dark {
    background-color: $pli-bg-biege;
}

.v-expansion-panel--active:not(:first-child), 
.v-expansion-panel--active + .v-expansion-panel {
    margin: 0 !important;
}

.aotn {
    &-col-left {
        width: 20%;
    }
    &-col-right {
        padding-left: 36px;
        width: 80%;
    }
    &-card {
        background-color: $pli-bg-biege !important;
        border: 2px solid white !important;
        border-radius: 4px;;
        display: flex;
        padding: 12px;
    }
    &-image {
        width: 100%;
        height: auto;
        border: 4px solid white;
    }
    &-title, &-artist {
        color: $pli-forest;
        font-size: 42px;
    }
    &-release-date {
        font-size: 18px;
    }
    &-store-link {
        text-decoration: underline;
    }
    &-whyIlike {
        padding-top: 8px;
    }
}



.v-expansion-panel-header__icon {
    i {
        color: $pli-leaf !important;
        height: 32px;
    }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {
    .aotn {
        &-image {
            width: 200px !important;
            height: auto !important;
        }
        &-title, &-artist {
            font-size: 28px;
        }
        &-release-date {
            font-size: 14px;
        }
        &-store-link {
            font-size: 20px;
        }
    }
  }
  
  // Mobile
  @media only screen and (max-width: 600px) {
    .aotn {
        &-image {
            width: 80vw !important;
            height: auto !important;
        }
        &-title, &-artist {
            font-size: 24px;
        }
        &-release-date {
            font-size: 14px;
        }
    }
  }
  

