@import '../Colours.scss';

.bg-grey {
    background-color: $pli-grey;
}

.aotn {
    &-col-right {
        padding: 0 !important;
    }
    &-card {
        background-color: $pli-grey-light !important;
        border: 2px solid $pli-teal !important;
    }
    &-title, &-artist {
        color: $pli-white;
        font-size: 42px;
    }
    &-release-date {
        font-size: 18px;
    }
    &-store-link {
        text-decoration: underline;
    }
}



.v-expansion-panel-header__icon {
    i {
        color: $pli-teal !important;
        height: 32px;
    }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {
    .aotn {
        &-image {
            width: 200px !important;
            height: auto !important;
        }
        &-title, &-artist {
            font-size: 28px;
        }
        &-release-date {
            font-size: 14px;
        }
        &-store-link {
            font-size: 20px;
        }
    }
  }
  
  // Mobile
  @media only screen and (max-width: 600px) {
    .aotn {
        &-image {
            width: 80vw !important;
            height: auto !important;
        }
        &-title, &-artist {
            font-size: 24px;
        }
        &-release-date {
            font-size: 14px;
        }
    }
  }
  

