@import "Colours.scss";
@import "Type.scss";
@import "Fonts.scss";
@import "./Breakpoints.scss";

.v-application a {
  color: $pli-forest !important; // Consider finding a better way to do this
  &:visited {
    color: $pli-coral;
  }
}

.v-content {
  background-color: $pli-bg-grey;
  &__wrap {
    padding: 5vh 10vw 5vh 10vw;
  }
}
@media only screen and (max-width: 600px) {
  .v-content__wrap {
    padding: 5vh 7vw;
  }
  .menu-title {
    text-align: left;
  }
}

.bot-border,
.top-border {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, $pli-leaf, #d9f9aa, $pli-leaf);
}

::-webkit-scrollbar {
  width: 8px;
  margin-top: 120px !important;
}

::-webkit-scrollbar-track {
  background-color: $pli-grey;
}

::-webkit-scrollbar-thumb {
  background: $pli-grey-light;
  border-radius: 10px;
  &:hover {
    background-color: $pli-white;
  }
}

.menu-link {
  color: $pli-grey;
  padding-left: 20%;
}

// Dropdown Menus

.projects-menu,
.stories-menu {
  background-color: $pli-bg-grey;
  color: $pli-forest;
  .inner-menu {
    display: flex;
    width: 100%;
    padding: 1% 10%;
    .menu {
      &-category {
        width: 25%;
      }
    }
  }

  h4 {
    text-align: center;
    font: normal normal normal 18px/24px $pli-header-font;
    color: $pli-forest;
    margin-bottom: 8px;
  }
  .menu-link {
    font-family: $pli-text-font;
  }

  //Mobile
  @media only screen and (max-width: $small) {
    .menu {
      &-link {
        padding-left: 0;
        font-size: 14px;
      }
      &-title {
        font-size: 16px;
        min-height: 48px;
      }
    }
  }

  @media only screen and (max-width: $large) {
    .menu {
      &-link {
        padding-left: 0;
      }
    }
  }
}
