@import "Colours.scss";
@import "Type.scss";
@import "Fonts.scss";

.v-application a {
  color: $pli-teal !important; // Consider finding a better way to do this
  &:visited {
    color: $pli-orange;
  }
}

.v-content {
  background-color: $pli-grey;
  &__wrap {
    padding: 5vh 10vw 10vh 10vw;
  }
}
@media only screen and (max-width: 600px) {
  .v-content__wrap {
    padding: 2vh 7vw;
  }
  .menu-title {
    text-align: left;
  }
}

.bot-border {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, $pli-white, $pli-teal);
}

.top-border {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, $pli-teal, $pli-white);
}

::-webkit-scrollbar {
  width: 8px;
  margin-top: 120px !important;
}

::-webkit-scrollbar-track {
  background-color: $pli-grey;
}

::-webkit-scrollbar-thumb {
  background: $pli-grey-light;
  border-radius: 10px;
  &:hover {
    background-color: $pli-white;
  }
}

.menu-link {
  color: $pli-teal;
}

// Menus

.projects-menu,
.stories-menu {
  background-color: $pli-grey-light;
  color: $pli-white;
  h4 {
      text-align: center;
      font: normal normal normal 18px $pli-header-font; 
    color: $pli-white;
  }
  .menu-link {
      font-family: $pli-text-font;
  }
  @media only screen and (max-width: 600px) {
    h4 {
      text-align: left;
    }
  }
}

