$pli-white: #ffffff;
$pli-grey: #3d3d3d;
$pli-teal: #2AF4DC;
$pli-teal-light: #87fbed;
$pli-orange: #FF5010;
$pli-orange-light: #f96630;

$pli-text-font: 'Montserrat', Arial, sans-serif;

.v-application a {
    color: $pli-teal !important;    // Consider finding a better way to do this
}

.v-content {
    background-color: $pli-grey;
}

.v-footer {
    font-family: $pli-text-font;
    .footer-left, .footer-mid, .footer-right {
        color: $pli-white;
    }
}

.bot-border {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, $pli-white, $pli-teal);
}