$pli-white: #ffffff;
$pli-bg-grey: #fcfcfc;
$pli-grey: #3d3d3d;
$pli-grey-light: #7f7f7f;
$pli-bg-biege: #f5eeda;
$pli-bg-light-biege: #F3F3ED;

$pli-coral: #FC766A;
$pli-forest: #184A45;
$pli-leaf: #54850A;

$pli-teal: #2AF4DC;
$pli-teal-light: #87fbed;
$pli-orange: #FF5010;
$pli-orange-light: #f96630;