@import 'Colours.scss';
@import 'Fonts.scss';

.v-app-bar {
    font-family: $pli-header-font;
    max-height: 120px;
    .v-toolbar__title {
        color: $pli-white;
        font-size: 32px;                //Rems?
    }
}

@media only screen and (max-width: 600px) {
    .v-app-bar {
        max-height: 100px;
    }
    .menu {
        &-col {
            height: 30px;
            width: 5vw;
            padding: 0 !important;
        }
        &-container {
            padding: 0 20px;
        }      
    }
  }

.menu-to-open {
    transition: height 1s;
}




.album-otn {
    width: 100%;
    height: 100%;
    background-color: red;
}

