@import "Colours.scss";
@import "Fonts.scss";

// Desktop default - it just isnt really made to be read slowly on your phone. You'll be ok
h1 {
  color: $pli-forest;
  margin-bottom: 24px;
  font: normal normal normal 42px $pli-header-font;
}

h3 {
  color: $pli-forest;
  font: normal normal 500 24px $pli-header-font;
}

h5 {
  font-weight: normal;
  color: $pli-grey;
  font-family: $pli-text-font;
}

p {
  color: $pli-grey;
  font: normal normal 200 16px/24px $pli-text-font;
}

.img-caption {
  width: 100%;
  color: $pli-grey;
  font-family: $pli-text-font !important;
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
  background-color: $pli-bg-biege;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid $pli-forest;
  border-top: none;
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .img-caption {
    font-size: 12px;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .img-caption {
    font-size: 12px;
  }
}
