@import "../Colours.scss";

$menuButtonBorderWidth: 3;

.pli-menu-button {
  transform: scale(0.8);
  &:hover {
    .pli-menu-button-text {
      fill: $pli-grey;
    }
    .pli-menu-button-border {
      fill: $pli-white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .pli-menu-button {
    transform: scale(0.5);
  }
//   .menu {
//     &-projects {
//         margin-right: -10%;
//     }
//     &-albums {
//         margin-left: -10%;
//     }
//     &-pli {
//         margin-right: -10%;
//     }
//   }
}

.menu-button {
  &-left {
    margin-right: -5%;
  }
  &-right {
    margin-left: -5%;
  }
}

svg:hover {
  cursor: pointer;
}

.pli-menu-button-text {
  fill: $pli-teal;
  transition: fill 0.2s ease-in-out;
}

.pli-menu-button-border {
  stroke-width: $menuButtonBorderWidth;
  stroke: $pli-teal;
  transition: fill 0.2s ease-in-out;
  fill: #3d3d3d;
}
