@import "../Colours.scss";

$menuButtonBorderWidth: 3;

.pli-menu-button {
  &:hover {
    .pli-menu-button-text {
      fill: $pli-grey;
    }
    .pli-menu-button-border {
      fill: $pli-white;
    }
  }

  &-text {
    fill: $pli-teal;
    transition: fill 0.2s ease-in-out;
  }
  &-border {
    stroke-width: $menuButtonBorderWidth;
    stroke: $pli-teal;
    transition: fill 0.2s ease-in-out;
    fill: $pli-grey;
  }
}

svg:hover {
  cursor: pointer;
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {
  .pli-menu-button-text {
    font-size: 24px;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .pli-menu-button-text {
    font-size: 26px;
  }
}
